<html>
<head>
    <title>DEMO page Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <h3>Hello, user! Please click on <b>Main page</b> to continue</h3>
<a href="/main"> Main page</a>
</body>
</html>